@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Roboto:500');
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 1.2em margin-top: 1em;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    max-width: 95%;
    padding: 10px 36px 36px 36px;
    margin: 0 auto;
    background: linear-gradient(125deg, #fff 60%, #ffed4b 60%);
}

section, article, header, footer, nav, aside, hgroup {
    display: block;
}

footer {
    margin-top: 2em;
}

.headerMarginTop h2 {
  margin-top: 2em;
}

.likes-svg, .media-svg {
    width: 4%;
    height: auto;
}

.media-svg {
    margin-right: .9em;
}

.likes-svg:hover {
    animation: pulse 1.5s;
    animation: pulse 1.0s forwards;
    -webkit-animation: pulse 1.0s forwards;
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
}

.morelink:hover {
    display: block;
}

@keyframes pulse {
    0% {
        background-color: white;
    }
    100% {
        background-color: #E65954;
    }
}

#homepage-main-header {
    font-size: 3em;
    color: #3A343A;
    line-height: 1em;
}

a {
    text-decoration: none;
    color: #E65954;
    cursor: pointer;
    cursor: hand;
}

.logo-link a {
    color: blue;
    margin: 0 auto;
    padding: 0.75rem 5%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

nav {
    background-color: none;
    color: rgba(255, 255, 255, 0.95);
}

nav ol {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
}

nav a {
    display: block;
    padding: 0.25rem 0.25rem 0;
    margin-left: 1em;
    color: #3A343A;
    text-decoration: none;
    border-bottom-width: 0.25em;
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

.more img, .smallerPictures img {
    width: 45%;
    height: auto;
    display: inline-block;
    padding-bottom: 0.5em;
}

.pictureBorder img {
  margin: 0 auto;
  border: 1px solid black;
  max-width: 500px;
}

img.imageScaling {
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 15%;
    height: auto;
    display: block;
}

.underline {
    text-decoration: underline;
}

.projects img {
    display: block;
    border: 1px solid black;
    max-width: 45%;
    max-height: auto;
}

.morelink {
    display: block;
}

/*Speech Bubbles for Words Page*/

.bubble {
    position: relative;
    font-size: .8em;
    padding: 15px;
    margin: 1em 0 3em;
    border: 5px solid #2F4F4F;
    color: #333;
    background: #fff;
    /* css3 */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.bubble:before {
  font-size: .8em;
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #2F4F4F transparent;
    display: block;
    width: 0;
}

.bubble:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 47px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

.bubbley {
    font-size: .8em;
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    border: 5px solid #2F4F4F;
    color: #333;
    background: #fff;
    /* css3 */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.bubbley:before {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #2F4F4F transparent;
    display: block;
    width: 0;
}

.bubbley:after {
    content: "";
    position: absolute;
    bottom: -13px;
    right: 47px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

.words-container {
    font: 1em/1.4 Cambria, Georgia, sans-serif;
    color: #333;
    max-width: 500px;
    padding: 0 0 50px;
    margin: 0 auto;
}

.words-container h3 {
    font-size: .9em;
    font-family: 'Roboto', sans-serif;
  	padding: 0;
  	margin: 0;
  	margin-bottom: .5em;
  	text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), only screen and (max-width: 768px) {
    body {
        background: linear-gradient(135deg, #fff 60%, #ffed4b 60%);
    }
    body, section {
        max-width: 100%;
        height: auto;
        display: block;
        font-size: 1em;
        margin: 0;
    }
    img.german-pictures {
        width: 90%;
        height: 90%;
        display: block;
        margin: 0 auto;
    }
    article h3 {
      text-align: center;
    }
    .smallerPictures img {
      width: 45%;
      height: auto;
      display: inline-block;
      padding-bottom: 0.5em;
    }
    }
}

/*Words Bubble Layout*/

@media screen and (max-width: 768px) {
    .words-container {
        width: 90%;
        text-align: center;
    }
}

@media screen and (max-width: 568px) {
    .words-container {
        width: 90%;
        text-align: center;
    }

@media screen and (max-width: 360px) {
    .words-container {
        max-width: 90%;
        text-align: center;
    }
}
