.wilt-image {
  text-align: center;
  margin: 0 auto;
}

button#leet {
  background-color: #b666d2;
  border: 3px solid black;
  width: 100px;
  height: 30px;
  font-size: 0.9em;
  border-radius: 10px;
  font-family: Verdana;
  font-weight: 900;
}

button:hover#leet {
  background-color: rebeccapurple;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
}

blockquote:before {
  color: #ccc;
  content: "“";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

/** Original dropdown code from Kasper Mikiewicz
  * here https://codepen.io/Idered/pen/vowrB
  */

.dropdown {
  position: relative;
  /* display: inline-block; */
  display: flex;
  text-align: left;
  width: 17em;
  margin: 0 auto;
}

.dropdown-text {
  cursor: pointer;
  /* position: absolute; */
  text-indent: 1em;
  line-height: 2em;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.dropdown-text:after {
  position: absolute;
  right: 6px;
  top: 18px;
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #000 transparent transparent transparent;
}

.dropdown-text,
.dropdown-content a {
  color: #000;
}

.dropdown-toggle {
  font-size: 0;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
  border: none;
  padding: 0;
  margin: 0 0 0 1px;
  background: transparent;
  text-indent: -10px;
  height: 34px;
  width: 100%;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-content {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  list-style-type: none;
  position: absolute;
  top: 32px;
  padding: 0;
  margin: 10px 0 0 0;
  opacity: 0;
  visibility: hidden;
  border-radius: 3px;
  text-indent: 10px;
  line-height: 2em;
  background-color: #fff;
  border: 1px solid #000;
  width: 17em;
  height: 6em;
  overflow: auto;
  font-family: "Roboto", sans-serif;
}

.dropdown-content a {
  display: block;
}

.dropdown-content a:hover {
  background: #8dc63f;
}

.dropdown-toggle:hover ~ .dropdown-text,
.dropdown-toggle:focus ~ .dropdown-text {
  background-color: #fff;
}

.dropdown-toggle:focus ~ .dropdown-text {
  z-index: 2;
}

.dropdown-toggle:focus ~ .dropdown-text:after {
  border-width: 0 4px 5px 4px;
  border-color: transparent transparent #000 transparent;
}

.dropdown-content:hover,
.dropdown-toggle:focus ~ .dropdown-content {
  opacity: 1;
  visibility: visible;
  top: 42px;
}

@media only screen and (max-width: 520px) {
  code {
    white-space: normal;
  }
}

/* End dropdown menu */

@keyframes pulse {
  0% {
    background-color: white;
  }
  100% {
    background-color: #000;
  }
}

.link__top-of-page {
  display: inline-flex;
}

.m-t-m {
  display: inline-block;
  margin-bottom: 0;
}
